# Carpeta bin y obj generada por la compilación
bin/
obj/

# Archivos de salida de Visual Studio
*.exe
*.pdb
*.dll

# Carpeta de salida de Visual Studio
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Ll]og/
[Ll]ogs/

# Carpeta local de herramientas
[Tt]ools/

# Archivos temporales generados durante la compilación
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vsidx
*.vspscc
*.vssscc
.builds
*.pidb
*.suo
*.user
*.userosscache
*.scc
*.opendb
*.sdf
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings

node_modules/
npm-debug.log
